# Application
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

#other
*~
node_modules
*/.sass_cache
.log
.DS_Store
.*/
